<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs'); %>
  </head>
  <body>
    <div class="container">
      <!-- common header -->
      <header><%- include('../partials/header.ejs'); %></header>

      <div class="container my-5 col-8 border border-secondary rounded">
        
        <!-- header for container -->
        <h2 class="text-center m-3">Add Course</h2>
        
        <!-- form for edit course -->
        <!-- <form method='POST' class="row g-3 col-7 m-auto" id='addForm' action='/app/course/create'> -->
        <form class="row g-3 col-7 m-auto" id='addForm'>
          <div class="col-12">
            <label for="courseName" class="form-label">Name :</label>
            <input
              type="text"
              class="form-control"
              id="courseName"
              placeholder="Course Name"
              name='name'
              value=''
              required
            />
            <small class='text-secondary'>Don't Use Space For Batter Results.</small>
          </div>
          <div class="col-12">
            <label for="courseFees" class="form-label">Fees :</label>
            <input
              type="number"
              class="form-control"
              id="courseFees"
              placeholder="Course Fees"
              name='fees'
              value=''
              required
            />
          </div>
          <div class="col-md-4">
            <label for="courseDuration" class="form-label">Course Duration :</label>
            <select id="courseDuration" class="form-select" name='duration'>
              <option value="1-Month" >1-Month</option>
              <option value="3-Month">3-Month</option>
              <option value="6-Month">6-Month</option>
              <option value="12-Month">12-Month</option>
              <option value="18-Month">18-Month</option>
            </select>
          </div>
          <div class="col-12 d-flex justify-content-around">
            <button type="submit" class="btn btn-outline-primary col-md-2">
              Add
            </button>
            <button type="reset" class="btn btn-outline-warning col-md-2">Reset</button>
          </div>
        </form>
        <div class='d-flex justify-content-center mb-3'>
          <button class="btn btn-outline-secondary col-md-1" onclick='backToCourse()'>Back</button>
        </div>
      </div>
    </div>

    <!-- common footer -->
    <footer><%- include('../partials/footer.ejs'); %></footer>

    <script>
      // console.log('its add template!');
      const redirectPage = localStorage.getItem('page');
      const redirectLimit = localStorage.getItem('limit');

      const editForm = document.getElementById('addForm');
      editForm.addEventListener('submit',(e)=>{
        e.preventDefault();

        const courseName = document.getElementById('courseName').value;
        const courseFees = document.getElementById('courseFees').value;
        let courseDuration = document.getElementById('courseDuration');
        courseDuration = courseDuration.value;

        const myBody = {"name":courseName,"duration":courseDuration,"fees":parseInt(courseFees)};

        const userAction = async () => {
          const response = await fetch(`http://localhost:3000/app/course/create`, {
            method: 'POST',
            body: JSON.stringify(myBody),
            headers: {
              'Content-Type': 'application/json'
            }
          });
          console.log("response:- ",response);
          //redirect to course page;
          setTimeout(() => {
            if (response.status === 200) {
              window.location.href = `http://localhost:3000/app/course?page=redirect/${redirectPage}&limit=${redirectLimit}`;
          }else{
            window.location.href = `http://localhost:3000/app/course/create`;
          }
          }, 1500);

        }

        userAction();
      })

      const backToCourse = () => {
        setTimeout(() => {
          // window.location.href = `http://localhost:3000/app/course`;
          history.back();
        }, 1000);
      }
    </script>
  </body>
</html>
